---
import '../styles/global.css'
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <title>Astro Basics</title>
  </head>
  <body class='min-h-screen flex flex-col'>
    <header class='h-[18.75rem] w-full bg-red-500'>
      <nav class='h-[3.75rem] w-full bg-green-500'>
        <span>navbar</span>
      </nav>
      <h1>header</h1>
    </header>
    <main class='flex-1 bg-purple-600'>
      <slot />
    </main>
    <footer class='h-[3.75rem] bg-yellow-200'>
      <span class=''>footer</span>
    </footer>
  </body>
</html>
