---
import NavbarSharedComponent from '../components/shared/navbar.shared.component'
import '../styles/global.css'
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <title>Astro Basics</title>
  </head>
  <body class='min-h-screen flex flex-col bg-secondary text-white'>
    <header class='h-[18.75rem] w-full'>
      <NavbarSharedComponent client:visible />
      <h1>header</h1>
    </header>
    <main class='flex-1'>
      <slot />
    </main>
    <footer class='h-[3.75rem]'>
      <span class=''>footer</span>
    </footer>
  </body>
</html>
