---
import FooterSharedComponent from '../components/shared/footer.shared.component'
import HeaderSharedComponent from '../components/shared/header.shared.component'
import NavbarSharedComponent from '../components/shared/navbar.shared.component'
import '../styles/global.css'
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <title>Astro Basics</title>
    <style>
      ::-webkit-scrollbar {
        width: 10px;
      }
      ::-webkit-scrollbar-track {
        background: #1a1a1a;
      }
      ::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 5px;
      }
      ::-webkit-scrollbar-thumb:hover {
        background: #555;
      }
    </style>
  </head>
  <body class='min-h-screen flex flex-col bg-secondary text-white'>
    <HeaderSharedComponent client:only>
      <NavbarSharedComponent client:only />
    </HeaderSharedComponent>
    <main class='flex-1'>
      <slot />
    </main>
    <FooterSharedComponent client:only />
  </body>
</html>
